.select_pages .button {
    padding: 0.7rem;
    width: 100%;
    background: #175676;
    cursor: pointer;
    text-align: center;
    color: #f5f1ed;
}

.select_pages div.text_center {
    text-align: center;
    padding: 0.7rem;
}

.select_pages .hide {
    display: none;
}

button {
    cursor: pointer;

}