.select_pages button {
    padding: 0.7rem;
    width: 100%;
}

.select_pages div.text_center {
    text-align: center;
    padding: 0.7rem;
}

.hide {
    display: none;
}

button {
    cursor: pointer;

}