div.search {
    padding: 2px 0;
}

.search .right {
    float: right;
}

.search input {
    padding: 12px 0;
    border-radius: 2px;
    border: 1px solid #6e9fff;
}

.search label {
    padding: 12px;
}
