div.search {
    padding: 2px 0;
    width: 100%;
}

div .search .right {
    margin-left: auto;
}

.search input {
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #6e9fff;
}

.search label {
    font-size: 1.1rem;
}
