.sort {
    font-size: 1.1rem;
}

.sort i{
    color: white;
    background: #474747;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}


.sort i:hover{
    background: #686868;
}

.sort span {
    background: #dbdbdb;
    padding: 10px;
}

.sort button {
    padding: 0 20px;
}
