.sort {
    font-size: 1rem;
}

.sort i{
    color: white;
    background: #2B303A;
    padding: 21px;
    transition: 0.5s;
    cursor: pointer;
}

.sort i:hover{
    background: #454c57;
}

.sort span {
    background: #f5f1ed;
    padding: 20px;
}

.sort span.button {
    cursor: pointer;
    transition: 0.5s;
    background: #2B303A;
    color: #f5f1ed;
    font-size: 1rem;
    height: 58px;
}

.sort span.button:hover {
    background: #454c57;
}

