.header {
    background: #6495ed;
}

.header div {
    padding: 1rem 0;
}

div .selected{
    background: #6e9fff;
}

a {
    color: white;
    text-decoration: none;
    padding: 2rem;
}

div .header .text_center {
    text-align: center;
}