.header {
    background: #175676;
}

.header a:first-child {
    margin-right: auto;
}

.header a {
    padding: 1rem 0;
    transition: 0.5s;
}

.header a:hover {
    background: #58A4B0;
}


a.selected{
    background: #58A4B0;
}


a {
    color: #f5f1ed;
    text-decoration: none;
    padding: 2rem;
}

div .header .text_center {
    text-align: center;
}


